.htitle{
    padding-top: 4%;
    text-align: center;
    font-size: 280%;
    content:'';
    flex:1;
    border-bottom:groove 2px;
    margin:auto 0.25em;
}

.mginheight{
    margin-bottom: 5em;
  }

.mjinheight{
    margin-bottom: 5em;
}