.fffffffffffffffffffffontsize {
    font-size: 150%;
  }

.fpfontsize{
  
  font-size: 130%;

}

  .bbbbcolord {
    background-color: rgba(133, 138, 65, 0.808);
}

.boxedpay{
  margin-top: 2%;
  margin-bottom: 4%;
}

.boxedpayed{
  margin-top: 4%;
  margin-bottom: 2%;
}

.divayed{
  margin-top: 2%;
  margin-bottom: 2%;
}

.paaaadddingLUL {
    padding-top: 15px;
}

.butto3n4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
