.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}
.homeSlide p {
  margin: 20px 0;
}
.homeSlide ul {
  position: absolute;
  bottom: 20px;
}
.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}
.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

#algoimages{
  text-align:center;
}

.algocolumn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 23.5%;
  padding: 5px;
}

.hardwarecolumn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.algorow::after {
  content: "";
  clear: both;
  display: table;
}

.algocaption {
  display: block;
}


.algocontent {
  position: absolute;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 320px;
  padding: 20px;
}

@media screen and (max-width: 876px) {
  .ssliderhomepage {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .sdsliderhomepage {
    display: none;
  }
}

.ccdwenter{
  padding-top: 5%;
  text-align: center;
  font-size: 122%;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em;
  /* ou 0 1px si border-style:ridge */
}

@media screen and (max-width: 1280px) {
  .ccdwenter {
    padding-top: 8%;
  }
}
